.container {
  position: fixed;
  top: 20vh;
  left: 10%;
  width: 80%;
  height: 60%;
  border-radius: 1rem;
  background-color: white;
  text-align: center;
}

.titre {
  padding: 1rem;
}

.list {
  list-style: none;
  font-weight: 800;
}

.list > li > span {
  background-color: unset;
}
.list > li {
  padding: 10px;
}
.input {
  margin: 1rem;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
}

.button {
  font: inherit;
  border: 1px solid #474747;
  width: 20%;
  background: #474747;
  color: white;
  padding: 1rem;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 2rem;
}

.button:hover,
.button:active {
  background: #807e7e;
  border-color: #807e7e;
}

.button:focus {
  outline: none;
}
